
  



<button type="button" class="close" data-dismiss="modal" onclick="removeBackdrop()" style="height:50px;font-size:50px;font-weight:bolder;">&times;</button>
<br />
<div class="row" style="height:auto;">
    <div class="col-md-4" style="position:relative;">
        <div class="mainMonthsCalendar">
            <div class="calendHeader">
                <img src="~/Content/Images/ICONES_SVG_Base_Couleurs_Retour_Appel.svg" height="100" width="100" style="fill:red;" />
                <p class="calendText">Calendrier Retour d'appel</p>
            </div>
            <div id="monthsCalendar" class="yacal">

            </div>
        </div>



        <div style="display: flex;justify-content:center;">
            <button class="btn btn-danger" style="border-radius:15px;width:200px;">Sauvegarder</button>
        </div>
    </div>

    <div id='calendarfc' class="col-md-8 calendarRetourAppel">


    </div>
</div>
