@*@{
        Layout = "";
    }
    @section css {
        <link href="@Url.Content("~/css/special_style.css")" rel="stylesheet" />
    }*@
@*<div class="container">
        <div class="row">

            <div id="monthsCalendar" class="yacal" data-date="2021/04/28" data-near-months="1" data-min-date="2021/3/15" data-max-date="2021/6/15">
                </div>

    <div id='calendar' style="width:70%;"></div>




        </div>
    </div>*@
    <div class="row" style="height:auto;">
        <div  class="col-md-4" style="position:relative;">
            <div id="monthsCalendar">
                <div class="calendHeader">
                    <img src="~/Content/Images/ICONES_SVG_Base_Couleurs_Retour_Appel.svg" height="100" width="100" style="fill:red;" />
                    <p class="calendText">Calendrier Retour d'appel</p>
                </div>

                <div id="calendar-details">
                    <div class="check-in">
                        <h5>Début</h5>
                        <h6 id="check-in-date">choisis une date</h6>
                    </div>
                    <div class="arrow"></div>
                    <div class="check-out">
                        <h5>Fin</h5>
                        <h6 id="check-out-date">choisie une date</h6>
                    </div>
                </div>
            </div>
            <div style="display: flex;justify-content:center;">
                <button class="btn btn-danger" style="border-radius:15px;width:200px;">Sauvegarder</button>
            </div>
        </div>


          
            
        


        <div id='calendarfc' class="col-md-8"></div>




    </div>

