@model  Autoveille.Models.Appels
@{
    ViewBag.Title = "InfoConcession";
}

<h2>Ventes</h2>


        <label style="font-weight: 400; color: #808080; font-size: 26px"> Prochaine evenement </label> 
<label style="font-weight: 400; color: #808080; font-size: 26px"> Date de debut @Model. </label> 
<label style="font-weight: 400; color: #808080; font-size: 26px"> Prochaine evenement </label> 

