@model  Autoveille.Models.Appels
@{
    ViewBag.Title = "InfoConcession";
}
<div id="eventDiv" class="alert alert-heading" style="height:60px;font-weight:bold;background-color:white;">
    <div style="float:left;">
        <p style="color:black;font-stretch:expanded;font-size:25px;font-weight:normal;">EVENEMENT
            <span style="font:bold;font-size:25px;font-weight:bold;"> A VENIR </span>
        </p>
    </div>
    <div class="input-group" style="float:right;width:25%;">
        <button type="button" class="btn btn-primary" style="background-color:white;color:black;">
            <i class="fas fa-search"></i>
        </button>
        <div class="form-inline">
            <input type="search" id="searchInput" class="form-control" placeholder="Recherche par nom"/>
        </div>
    </div>
</div>
    <div class="alert alert-dark" style="height:60px;font-weight:bold;background-color:black">
        <p style="float:left;color:white;font-weight:bold;">NOM CONCESSIONNAIRE</p>
        <p style="float:right;color:white;font-weight:bold;">12 AVRIL AU 15 AVRIL 2021</p>
    </div>
    <div id="innerContent" style="width:100%">
        <div id="leftContent" style="float:left;margin:0;width:100%">
            <div class="alert alert-dark row" style="height:60px;font-weight:bold;background-color:white;margin-top:-15px;">
                <p class="col-md-4" style="float: left; color: black; font-weight: bold;">PROSPECTS TOTAL</p>
                <p class="col-md-4" style="text-align:center;color:black;font-weight:bold;">PROSPECTS REJOINTS</p>
                <p class="col-md-4 pull-right" style="text-align:right;float: right; color: black; font-weight: bold;">PROSPECTS A REJOINDRE</p>
            </div>


            <div id="dvCampaignDetails">

            </div>
        </div>
    </div>
    <div id="detailsClient" style="width:25%;display:none;float:right;margin:0;padding-left:30px;font-size:20px;">

    </div>
    <div style="clear: both;"> </div>

    @section Scripts{
        <script type="text/javascript">
            $(document).ready(function () {
                $.ajax({
                    url: '/Home/GetNomAppels',
                    contentType: 'application/html; charset=utf-8',
                    type: 'GET',
                    dataType: 'html',
                    success: function (result) {
                        $('#dvCampaignDetails').html(result);
                    },
                    error: function (xhr, status) {
                        alert(status);
                    }
                });
            });
        </script>
    }
