<button type="button" class="close" data-dismiss="modal" onclick="removeBackdrop()" style="font-size:50px;font-weight:bolder;">&times;</button>
<div class="row" style="display:flex; flex-direction:row;">
    <img src="~/Content/Images/ICONES_SVG_Couleurs_WaklIn_Blue.svg" height=80 width=80 style="margin-right:10px;"/>
    <p class="newWalkInText">Ajouter <br /> un walk-In </p>
</div>
<div class="row newWalkInContainer">
    <div class="col-md-6">
        <p class="newWalkInLabelName">Prénom </p>
        <input class="newWalkInInput" />

        <p class="newWalkInLabelName">Nom </p>
        <input class="newWalkInInput" />

        <p class="newWalkInLabelName">Téléphone 1</p>
        <input class="newWalkInInput" />

        <p class="newWalkInLabelName">Téléphone 2 </p>
        <input class="newWalkInInput" />

        <p class="newWalkInLabelName">Cellulaire</p>
        <input class="newWalkInInput" />


        <p class="newWalkInLabelName">Véhicule d'occasion</p>
        <select class="DdlCode listFilter rdvInput" id="ddlCode">
            <option value="AA">AA </option>
            <option value="AB">AB</option>
            <option value="AC">AC</option>
        </select>

        <p class="newWalkInLabelName">Walk-In</p>
        <select class="DdlCode listFilter rdvInput" id="ddlCode">
            <option value="AA">AA </option>
            <option value="AB">AB</option>
            <option value="AC">AC</option>
        </select>

        <p class="newWalkInLabelName">Date du rendez-vous</p>
        <select class="DdlCode listFilter rdvInput" id="ddlCode">
            <option value="AA">AA </option>
            <option value="AB">AB</option>
            <option value="AC">AC</option>
        </select>

        <p class="newWalkInLabelName">Heure du rendez-vous</p>
        <select class="DdlCode listFilter rdvInput" id="ddlCode">
            <option value="AA">AA </option>
            <option value="AB">AB</option>
            <option value="AC">AC</option>
        </select>


    </div>

    <div class="col-md-6">

        <p class="newWalkInLabelName">Marque du véhicule actuel:</p>
        <input class="newWalkInInput" />

        <p class="newWalkInLabelName">Modèle du véhicule actuel: </p>
        <input class="newWalkInInput" />

        <p class="newWalkInLabelName">Année du véhicule actuel: </p>
        <input class="newWalkInInput" />

        <p class="newWalkInLabelName">NIV: </p>
        <input class="newWalkInInput" />

        <p class="newWalkInLabelName">Date de l'acquisition:</p>
        <input class="newWalkInInput" />

        <p class="newWalkInLabelName">Fin de terme: </p>
        <input class="newWalkInInput" />

        <p class="newWalkInLabelName">Marque du véhicule désiré </p>
        <input class="newWalkInInput" />

        <p class="newWalkInLabelName">Modèle du véhicule désiré </p>
        <input class="newWalkInInput" />

        <p class="newWalkInLabelName">Année du véhicule désiré </p>
        <input class="newWalkInInput" />
    </div>

</div>

<div class="row" style="display:flex;">
    <button class="btn btn-center saveButton" value="sauvegarderrr">Sauvegarder</button>
</div>