
@{
    ViewBag.Title = "TableauDeBordDesFabicants";
    Layout = "~/Views/Shared/_LayoutBlack.cshtml";
}


<div class="row alertRow" id="eventDiv">
    <div style="float:left;display:flex;" class="col-md-4 col-sm-12 col-xs-12">
        <a class="eventText" id="enCours" style="color: white;" onclick="AfficherLesConcessionnairesEnCours()">
            Evenement en cours
        </a>
    </div>
    <div style="float:left;display:flex;justify-content:center" class="col-md-4 col-sm-12 col-xs-12">
        <a id="aVenir" class="eventText" style="color: white;" onclick="AfficherLesConcessionnairesAvenir()">
            Evenement a venir
        </a>
    </div>
    @*<div class="eventText col-md-3 col-sm-12 col-xs-12">
        <i class="fas fa-download"></i>
    </div>*@
    <div id="searchInput" class="eventText col-md-4 col-sm-12 col-xs-12" style="color:white;display:flex;flex-flow:row-reverse;">
        Nom du fabricant
    </div>
</div>
<br />

<div id="AfficherConcessionnairesEnCours" style="margin:auto;width:95%;">

</div>
<div id="AfficherConcessionnairesAvenir" style="margin:auto;width:95%;display:none;">

</div>

<script>
    $(function () {
        AfficherLesConcessionnairesEnCours();
    });


    function AfficherLesConcessionnairesEnCours() {
        $('#AfficherConcessionnairesAvenir').css('display', 'none');
        $('#AfficherConcessionnairesAvenir').empty();
        $.ajax({
            url: "/Home/EvenementParFabricant/"
        }).done(function (data) {
            $("#AfficherConcessionnairesEnCours").html(data);
        });
        $('#AfficherConcessionnairesEnCours').css('display', 'block');
        $("#aVenir").removeClass("activeNav");
        $("#enCours").addClass("activeNav");
    }

    function AfficherLesConcessionnairesAvenir() {
        $('#AfficherConcessionnairesEnCours').css('display', 'none');
        $('#AfficherConcessionnairesEnCours').empty();
        $.ajax({
            url: "/Home/EvenementAvenirParFabricant/"
        }).done(function (data) {
            $("#AfficherConcessionnairesAvenir").html(data);
        });
        $('#AfficherConcessionnairesAvenir').css('display', 'block');
        $("#aVenir").addClass("activeNav");
        $("#enCours").removeClass("activeNav");
    }



</script>

