@model C1MvcWebApplication1.Models.LocalPasswordModel

<h3>Change password</h3>

@using (Html.BeginForm("Manage", "Account")) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()

    <fieldset>
        <legend>Change Password Form</legend>
        <ol>
 
        </ol>
        <input type="submit" value="Change password" />
    </fieldset>
}
