@model  Autoveille.Models.ConcessionsModel
@{
    ViewBag.Title = "Connexion";
}

<h2>Liste commerces</h2>

<div class="col-xd-12  col-sm-12 col-md-12  col-lg-12" style="float: left">
        @if (Model == null || Model.ListConcessions == null || !Model.ListConcessions.Any())
        {
            <div class="alert alert-info">Aucune concession trouvée.</div>
        }
        else
        {
                  <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                <table class="table table-striped table-hover table-bordered">
                    <thead>
                    <tr> 
                        <th>Concession</th>
                    </tr>
                    </thead>
                    <tbody>

                    @foreach (var item in Model.ListConcessions.OrderBy(x => x.NomCommerce))
                    {
                        <tr style="vertical-align:bottom">
                            <td >
                                 @Html.ActionLink(item.NomCommerce,
                                    "Recherche","Home",
                                    new {aNoCommerce = item.NoCommerce},
                                    new {@class="basFieldset"}) 
                            </td>

                        </tr>
                    }
                    </tbody>
                </table>
            </div>
           
      
            @* 
            
            
            @(Html.C1().FlexGrid().Id("fGRCView").AutoGenerateColumns(false).AllowAddNew(true)
    .AllowSorting(true).CssClass("grid")
    .Columns(columns => columns
        .Add(c => c.Binding("CategoryID"))
        .Add(c => c.Binding("CategoryName"))
        .Add(c => c.Binding("Description").Width("500")))
    .Bind(
        ib => ib.Bind(Url.Action("GridReadCategory"))
    )
)*@
            
            
        }
</div>

