.tick {
    background-color: black;
    height:250px;
    margin-top:100px;
    margin:auto;
}

.tick-flip, .tick-text-inline {
    font-size: 5em;
    margin-top: 35px;
}

.tick-label {
    margin-top: 1em;
    font-size: 1em;
}

.tick-char {
    width: 1.5em;
}

.tick-text-inline {
    display: inline-block;
    text-align: center;
    min-width: 1em;
}

.tick-text-inline + .tick-text-inline {
    margin-left: -.325em;
}

.tick-group {
    margin: 0 .5em;
    text-align: center;
}





.tick-text-inline {
    color: white !important;
}

.tick-label {
    color: white !important;
}

.tick-flip-panel {
    color: #fff !important;
}

.tick-flip {
    font-family: Roboto !important;
}

.tick-flip-panel-text-wrapper {
    line-height: 1.45 !important;
}

.tick-flip-panel {
    background-color: #E7183C !important;
}

.tick-flip {
    border-radius: 0.12em !important;
}

.tick-flip-shadow {
    box-shadow: 0 0 1em red !important;
}


/*.mainRow{
    width:100%;
}*/




#eventDiv {
    height: 40px;
    font-weight: bold;

    margin-bottom: 10px;
    margin-right: 15px;
    margin-left: 35px;
    vertical-align: middle;
}

.eventText {
    color: black;
    font-stretch: expanded;
    font-size: 25px;
    font-weight: normal;
    vertical-align: middle;
}

#eventState {
    font: bold;
    font-size: 25px;
    font-weight: bold;
}


.mainSecondColumn {
    width: 50%;
    height: 800px;
    float: right;
    margin-left: 35px;
    width: 710px;
}


#calendar-Label {
    color: #E7183C;
    font-size: 25px;
    font-family: Roboto;
    margin-left: 15px;
}

.text {
    color: green;
    font-size: 25px;
    font-weight: bolder;
}

.number {
    font-size: 60px;
    font-weight: bold;
    color: white;
}

/*.circlee {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -250px;
    margin-left: -250px;
}*/


.stats {
    margin-top: 15px;
    display: inline;
}

#content {
    margin-top: 10px;
    display: flex;
    float: right;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: black;
}

#canvaContent {
    /*font-size: 100px;
    font-weight: bold;*/
    height:90px;
    width :90px;
    position:absolute;
}


.flip-date {
    padding: 25px;
    background-color: black;
    border-radius: 20px;
    width: 100%;
    height: 420px;
}

.flip-date-inside {
    padding: 25px;
    height: 420px;
}

.flip-date-container {

    background-color: black;
    border-radius: 20px;
    width: 710px;
    /*background-color: black;
    border-radius: 20px;
    width: 710px;*/
}

body {
    /*    background-color: grey !important;*/
    /* background-color: #262626 !important;*/
    background-color: #262626 ;
}


#circleBorder {
    background-image: linear-gradient(to bottom, #E11B23 0%, #D13660 50%, #C2509B 100%);
    width: 300px;
    height: 300px;
    border-radius: 50%;
    box-shadow: 0px 0px 15px 25px #410707;
}

.radar {
    position: absolute;
    margin: 10px;
    padding: 0;
    height: 280px;
    width: 280px;
    background: #ee3520 url(../Images/QuebecGrey.svg);
    background-size: 250px 270px;
    background-position: center;
    background-repeat: no-repeat;
    border-color: transparent;
    border-radius: 50%;
    overflow: hidden;
}



.radar:after {
    content: '';
    position: absolute;
    top: 70%;
    left: 40%;
    width: 10px;
    height: 10px;
    background: #d98324;
    border-radius: 50%;
    filter: blur(2px);
    animation: glow 1s linear infinite;
}
    .radar li:nth-child(1),
    .radar li:nth-child(2) {
        list-style: none;
        position: absolute;
        top: 50%;
        height: 1px;
        width: 100%;
        border-radius: 50%;
        background: #ec9f05
    }

    .radar li:nth-child(2) {
        transform: rotate(90deg);
    }

    .radar li:nth-child(3) {
        list-style: none;
        position: absolute;
        top: 50%;
        left: 50%;
        width: 250px;
        height: 250px;
        transform-origin: top left;
        background: linear-gradient(45deg,#98407C 0%, transparent 50%);
        animation: rotation 2s linear infinite;
    }

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }

    0% {
        transform: rotate(360deg);
    }
}

@keyframes glow {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}






/*@media only screen and (max-width: 1400px) {

    .flip-date {
        width : auto;
        margin-right:35px;
    }
}*/


/*@media only screen and (max-width: 768px) {
    .tick-flip, .tick-text-inline {
        font-size: 3em;
        margin-top: 10px;
    }
}*/

@media only screen and (max-width: 1500px) {
    .tick-flip, .tick-text-inline {
        font-size: 4em;
    }

    .number {
        font-size: 77px;
    }

    .text {
        font-size: 25px;
        font-weight: bolder;
    }

    .flip-date {
        width: 100%;
        justify-content: center;
        vertical-align: middle;
    }

    .stats {
        vertical-align: middle;
        justify-content: center;
        overflow-wrap: normal;
    }

    #content {
        width: 200px;
    }

    /*.circlee {
        width: 400px;
        height: 400px;
        position: absolute;
        margin-top: -50px;
        margin-left: 0px;
        top: auto;
        left: auto;
        float: left;
    }*/

    #canvaContent {
        position: absolute;
        /*margin-top: -50px;*/
    }

    img#radarImg {
        width: 350px;
        height: 350px;
        position: absolute;
        /*margin-left: 15px;*/
        margin-top: -50px;
        margin-left: 0px;
        top: auto;
        left: auto;
        float: left;
    }

    .flip-date-container {
        width: 600px;
        margin-left :-15px;
    }
}



@media only screen and (max-width: 1250px) {
    .tick-flip, .tick-text-inline {
        font-size: 2em;
    }

    .number {
        font-size: 45px;
    }

    .text {
        font-size: 20px;
        font-weight: bold;
    }

    .flip-date {
        width: 100%;
        justify-content: center;
        vertical-align: middle;
    }

    .stats {
        vertical-align: middle;
        justify-content: center;
        overflow-wrap: normal;
    }

    #content {
        width: 200px;
    }

    .circlee {
        width: 350px;
        height: 350px;
        position: absolute;
        margin-top: -50px;
        margin-left: 0px;
        top: auto;
        left: auto;
        float: left;
    }

    #canvaContent {
        position: absolute;
        margin-top: -50px;
    }

    img#radarImg {
        width: 250px;
        height: 250px;
        position: absolute;
        /*margin-left: 15px;*/
        margin-top: -50px;
        margin-left: 0px;
        top: auto;
        left: auto;
        float: left;
    }

    .flip-date-container {
        width: 100%;
        margin-left: -15px;
    }
    #circleBorder {
        width: 240px;
        height: 240px;
    }

    .radar {
        width: 220px;
        height: 220px;
    }
}


@media only screen and (max-width: 1000px) {
    .tick-flip, .tick-text-inline {
        font-size: 2em;
    }
    .number {
        font-size: 30px;
    }

    .text {
        font-size : 15px;
        font-weight : bold;
    }
    .flip-date {
        width: 100%;
        justify-content:center;
        vertical-align:middle;
    }
    .stats{
        vertical-align:middle;
        justify-content:center;
        overflow-wrap:normal;
    }
    #content {
        width: auto;
    }

    .circlee {
        width: 250px;
        height: 250px;
        position: absolute;
        margin-top: -50px;
        margin-left: 0px;
        top: auto;
        left: auto;
        float: left;
    }

    #canvaContent {
        position: absolute;
        margin-top: -50px;
    }

    img#radarImg {
        width: 250px;
        height: 250px;
        position: absolute;
        /*margin-left: 15px;*/
        margin-top: -50px;
        margin-left: 0px;
        top: auto;
        left: auto;
        float: left;
    }

    .flip-date-container{
        width : 400px;
    }

    #circleBorder {
        width: 160px;
        height: 160px;
    }

    .radar {
        width: 140px;
        height: 140px;
    }
}





@media only screen and (max-width: 770px) {
    .number {
        font-size: 45px;
    }

    .stats{
        text-align:center;
    }

    .flip-date {
        width: auto;
    }
    .flip-date-container {
        width: auto;
    }

    #content {
        margin:auto;
    }
    .flip-date-inside#content{
        margin-left:0px;
    }

    #circleBorder {
        width: 150px;
        height: 150px;
    }

    .radar {
        width: 130px;
        height: 130px;
    }
}

@media only screen and (max-width: 600px) {
    .mainRow {
        margin-top:100px;
    }
    .mainSecondColumn{
        margin-top:10px;
    }
    .tick-flip, .tick-text-inline {
        font-size: 2em;
    }
    
    .flip-date {
        width: 100%;
    }
    .mainSecondColumn .flip-date{
        width : 93%;
    }
    .mainSecondColumn .flip-date-container {
        width: 93%;
    }

    .flip-date-container {
        width: 90%;
        
        margin-left:-15px;
        background-color:black;
        border-radius : 20px;
    }
    #content {
        width: 350px;
        margin: auto;
    }

    .circlee {
        width: 250px;
        height: 250px;
        position: absolute;
        margin-top: -50px;
        margin-left: 0px;
        top: auto;
        left: auto;
        float: left;
    }

    #canvaContent {

        position: absolute;
        margin-top: -50px;
    }

    .stats {
        text-align: center;
    }

    /*#content {
        margin-left: 50%;
        margin-right: 50%;
    }*/

    /*img#radarImg {
        width: 250px;
        height: 250px;
        position:absolute;*/
        /*margin-left: 15px;*/
        /*margin-top: -50px;
        margin-left: 0px;
        top: auto;
        left: auto;
        float: left;
    }*/

        #circleBorder {
            width : 240px;
            height : 240px;
        }
        .radar{
            width: 220px;
            height:220px;
        }
}