body {
}

.labell{
    font-weight:bold;
}

.clientInfo{
    margin-bottom:7px;
}
.titreFiche{
    color:green;
    float:right;
    font-size:15px;
}


.appelsTable td  {
    vertical-align:middle !important;
}

#searchInput{
    width:315px;
}