@charset "utf-8";
/* CSS Document */


/*************************************************************/
/************************ GÉNÉRAL ****************************/

.row.no-gutters {margin-right: 0; margin-left: 0;}
.row.no-gutters > [class^="col-"],
.row.no-gutters > [class*=" col-"] {padding-right: 0; padding-left: 0;}
.no-padding {padding-right: 0; padding-left: 0;}

.ml-10 {margin-left: 10px;}

.mg-2 {margin-left: 2px;}
.mg-5 {margin-left: 5px;}
.mg-10 {margin-left: 10px;}
.mg-15 {margin-left: 15px;}
.mg-17 {margin-left: 17px;}
.mg-20 {margin-left: 20px;}

.mb-5 {margin-bottom: 5px;}
.mb-10 {margin-bottom: 10px;}
.mb-20 {margin-bottom: 20px;}
.mb-30 {margin-bottom: 30px;}
.mb-40 {margin-bottom: 40px;}
.mb-60 {margin-bottom: 60px;}
.mb-80 {margin-bottom: 80px;}

.mt-10 {margin-top: 10px;}
.mt-15 {margin-top: 15px;}
.mt-20 {margin-top: 20px;}
.mt-30 {margin-top: 30px;}
.mt-40 {margin-top: 40px;}
.mt-50 {margin-top: 50px;}
.mt-60 {margin-top: 60px;}
.mt-70 {margin-top: 70px;}
.mt-90 {margin-top: 90px;}
.mt-80 {margin-top: 80px;}

.md-10 {margin-right: 10px;}
.md-15 {margin-right: 15px;}
.md-20 {margin-right: 20px;}

.pg-5 {padding-left: 5px;}
.pg-10 {padding-left: 10px;}
.pg-15 {padding-left: 15px;}
.pg-20 {padding-left: 20px;}

.pd-5 {padding-right: 5px;}
.pd-10 {padding-right: 10px;}
.pd-15 {padding-right: 15px;}
.pd-20 {padding-right: 20px;}

.no-margin {margin: 0px;}

.centered {text-align: center;}


/*************************************************************/
/************************** TEXTE ****************************/

.titrepage {font-family: Arial; font-size: 24px; line-height: 26px; font-weight: 400;}
.titrerapport {font-family: Arial; font-size: 20px; line-height: 22px; font-weight: 400;}

.bold {font-weight: 600;}
.texte_filtre {font-weight: 600; padding-right: 5px; font-family: Arial; }

.ajout {font-family: Arial; font-size: 17px; line-height: 24px; font-weight: 700; color: #940102;}
.ajout:hover {color: #000000;}

.retour {font-family: Arial; font-size: 14px; line-height: 18px; font-weight: 600; color: #940102;}
.retour:hover {color: #000000;}

.profil {font-family: Arial; font-size: 16px; line-height: 22px; font-weight: 400; color: #000000;}

.icon {font-size: 20px; line-height: 24px;}

.icon_retour {font-size: 16px; line-height: 18px;}

.texte1 {font-family: Arial; font-size: 16px; line-height: 22px; font-weight: 400;}
p {font-family: Arial, "Helvetica Neue", Helvetica, sans-serif; font-size: 14px; font-weight: 400; line-height: 20px;}

.texte_semaine {font-family: Arial; font-size: 16px; line-height: 20px; font-weight: 400; padding-top: 15px; padding-bottom: 15px;}

.text_red_overlay {font-family: Arial; font-size: 14px; line-height: 16px; font-weight: 400; color: #940102;}
.text_grey_overlay {font-family: Arial; font-size: 14px; line-height: 16px; font-weight: 400; color: #636363;}
.text_red_overlay:hover, .text_grey_overlay:hover {color: #000000; text-decoration: underline;}


/*************************************************************/
/*********************** FRONT PAGE **************************/

.hr_top {border-top: 2px solid #940102;}

.fleches {color: #000000;}
.fleches:hover {color: #940102;}

table {width: 100%;}

#employes th {padding: 12px 0px 12px 0px; text-align: center; background-color: #940102; color: white;
	font-family: Arial; font-size: 14px; line-height: 16px; font-weight: 700;}

.titre_employe {text-align: left!important; padding-left: 20px!important;}
.header_table {background-color: #e9e9e9;border-top: 1px solid #636363;border-left: 1px solid #636363;border-right: 1px solid #636363;}

.table_equipe {background-color: #e9e9e9;border: 1px solid #636363;}

.premiere_heure {text-align: center;border-left: 4px solid #c8c9cb;}
.heure {text-align: center;border-left: 1px solid #c8c9cb;}
.light_grey {color: #c8c9cb; font-size: 13px; line-height: 16px;}

.tableWrap {height: 450px; border: 1px solid #636363; overflow: auto;}

#employes thead tr th {position: sticky; top: 0;}
table {border-collapse: collapse;}

#employes tbody tr {border-bottom: 1px solid #c8c9cb;}
#employes tbody tr:hover {background: #e9e9e9;}

#employes th {border-bottom: 1px solid #c8c9cb; /*box-shadow: 0px 0px 0 2px #dedede;*/}

button.info_employe {background-color: transparent; margin: 0!important; padding: 0!important; border: none!important; text-align: left!important;}
button.info_employe:hover {background-color: transparent; margin: 0!important; padding: 0!important; border: none!important; text-align: left!important;}

td.premiere_heure button, td.heure button {background-color: transparent; margin: 0!important; padding: 0!important; border: none!important; text-align: center!important;}
td.premiere_heure button:hover, td.heure button:hover {background-color: transparent; margin: 0!important; padding: 0!important; border: none!important; 
	text-align: center!important; color: #940102; text-decoration: underline}

.info_employe {text-decoration: none; color: #3f79bd;}
.info_employe:hover {color: #940102;}
.nom_employe {font-weight: 600;font-size: 16px; line-height: 20px; color: #000000;}
.informations {font-size: 14px; line-height: 18px; color: #3f79bd; padding: 8px 0px 8px 20px;}

td a {color: #000000;}
td a:hover {color: #940102; text-decoration: underline;}

.filter_equipe {background-color: #ffffff; color: #000000; border: 1px solid #636363; border-radius: 10px; padding: 8px 16px; text-align: center;
	text-decoration: none; display: inline-block; font-family: Arial; font-size: 16px; line-height: 18px; margin: 4px; font-weight: 500;}

.filter_equipe:hover {background-color: #e9e9e9;text-decoration: none;color: #000000;}

.btn_rapport {background-color: #940102; color: #ffffff; border: 1px solid #940102; border-radius: 5px; padding: 8px 24px; text-align: center; text-decoration: none;
	display: inline-block; font-family: Arial; font-size: 16px; line-height: 18px; margin-top: 2px; font-weight: 400;}

.btn_rapport:hover {background-color: #000000; border: 1px solid #000000; color: #ffffff;}


/*************************************************************/
/************************* OVERLAY **************************/

.info_grey {background-color: #ededed; color: #3f79bd; font-family: Arial; font-size: 24px; line-height: 24px; font-weight: 400; padding: 20px;}

placeholder {padding-left: 5px;}

select.select_departements {height: 30px; width: 400px; padding-left: 2px;}

#overlay {position: fixed; display: none; height: 100%; top: 0; left: 0;
  right: 0; bottom: 0; background-color: rgba(0,0,0,0.6); z-index: 2; cursor: pointer;}

#fiche_employe {width: 600px; position: absolute; top: 50%; left: 50%; background-color: #ffffff; padding: 8px 16px; text-align: left; display: inline-block; font-family: Arial; 
	-ms-transform: translate(-50%,-50%); transform: translate(-50%,-50%); }

#overlayhoraire {position: fixed; display: none; height: 100%; top: 0; left: 0;
  right: 0; bottom: 0; background-color: rgba(0,0,0,0.6); z-index: 2; cursor: pointer;}

#fiche_horaire {width: 600px; position: absolute; top: 50%; left: 50%; background-color: #ffffff; padding: 8px 16px; text-align: left; display: inline-block; font-family: Arial; 
	-ms-transform: translate(-50%,-50%); transform: translate(-50%,-50%); }

.appliquer {font-family: Arial; font-size: 17px; line-height: 20px; font-weight: 600; color: #000000; padding-left: 5px;}


/*************************************************************/
/************************* RAPPORT **************************/


.card {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
}

.card > hr {
  margin-right: 0;
  margin-left: 0;
}

.card > .list-group:first-child .list-group-item:first-child {
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
}

.card > .list-group:last-child .list-group-item:last-child {
  border-bottom-right-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
}

.card-body {
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  min-height: 1px;
  padding: 1.25rem;
}

.card-title {
  margin-bottom: 0.75rem;
}

.card-subtitle {
  margin-top: -0.375rem;
  margin-bottom: 0;
}

.card-text:last-child {
  margin-bottom: 0;
}

.card-link:hover {
  text-decoration: none;
}

.card-link + .card-link {
  margin-left: 1.25rem;
}

.card-header {
  padding: 0.75rem 1.25rem;
  margin-bottom: 0;
  background-color: rgba(0, 0, 0, 0.03);
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}

.card-header:first-child {
  border-radius: calc(0.25rem - 1px) calc(0.25rem - 1px) 0 0;
}

.card-header + .list-group .list-group-item:first-child {
  border-top: 0;
}

.card-footer {
  padding: 0.75rem 1.25rem;
  background-color: rgba(0, 0, 0, 0.03);
  border-top: 1px solid rgba(0, 0, 0, 0.125);
}

.card-footer:last-child {
  border-radius: 0 0 calc(0.25rem - 1px) calc(0.25rem - 1px);
}

.card-header-tabs {
  margin-right: -0.625rem;
  margin-bottom: -0.75rem;
  margin-left: -0.625rem;
  border-bottom: 0;
}

.card-header-pills {
  margin-right: -0.625rem;
  margin-left: -0.625rem;
}

.card-img-overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1.25rem;
}

.card-img,
.card-img-top,
.card-img-bottom {
  -ms-flex-negative: 0;
  flex-shrink: 0;
  width: 100%;
}

.card-img,
.card-img-top {
  border-top-left-radius: calc(0.25rem - 1px);
  border-top-right-radius: calc(0.25rem - 1px);
}

.card-img,
.card-img-bottom {
  border-bottom-right-radius: calc(0.25rem - 1px);
  border-bottom-left-radius: calc(0.25rem - 1px);
}

.card-deck .card {
  margin-bottom: 15px;
}

@media (min-width: 576px) {
  .card-deck {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    margin-right: -15px;
    margin-left: -15px;
  }
  .card-deck .card {
    -ms-flex: 1 0 0%;
    flex: 1 0 0%;
    margin-right: 15px;
    margin-bottom: 0;
    margin-left: 15px;
  }
}

.card-group > .card {
  margin-bottom: 15px;
}

@media (min-width: 576px) {
  .card-group {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
  }
  .card-group > .card {
    -ms-flex: 1 0 0%;
    flex: 1 0 0%;
    margin-bottom: 0;
  }
  .card-group > .card + .card {
    margin-left: 0;
    border-left: 0;
  }
  .card-group > .card:not(:last-child) {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
  .card-group > .card:not(:last-child) .card-img-top,
  .card-group > .card:not(:last-child) .card-header {
    border-top-right-radius: 0;
  }
  .card-group > .card:not(:last-child) .card-img-bottom,
  .card-group > .card:not(:last-child) .card-footer {
    border-bottom-right-radius: 0;
  }
  .card-group > .card:not(:first-child) {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
  .card-group > .card:not(:first-child) .card-img-top,
  .card-group > .card:not(:first-child) .card-header {
    border-top-left-radius: 0;
  }
  .card-group > .card:not(:first-child) .card-img-bottom,
  .card-group > .card:not(:first-child) .card-footer {
    border-bottom-left-radius: 0;
  }
}

.card-columns .card {
  margin-bottom: 0.75rem;
}

@media (min-width: 576px) {
  .card-columns {
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
    -webkit-column-gap: 1.25rem;
    -moz-column-gap: 1.25rem;
    column-gap: 1.25rem;
    orphans: 1;
    widows: 1;
  }
  .card-columns .card {
    display: inline-block;
    width: 100%;
  }
}


.accordion > .card {
  overflow: hidden;
}

.accordion > .card:not(:last-of-type) {
  border-bottom: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.accordion > .card:not(:first-of-type) {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.accordion > .card > .card-header {
  border-radius: 0;
  margin-bottom: -1px;
}


.wrapborder {border: 1px solid #636363;}

.bkred {background-color: #830a16; color: white;}
.bkyellow {background-color: #f9a81a; color: white;}
.bkblue {background-color: #3cbeb1; color: white;}

.desc_symptomes {padding: 10px 0px 10px 20px; font-weight: 600; font-size: 22px; line-height: 32px;}
.total {padding: 10px 20px 20px 0px; font-weight: 700; font-size: 80px; line-height: 80px;}

.infor {font-size: 18px; line-height: 18px;}
.infor:hover {color: #a32437; cursor: pointer;}
.infoy {font-size: 18px; line-height: 18px;}
.infoy:hover {color: #ffc76c; cursor: pointer;}
.infob {font-size: 18px; line-height: 18px;}
.infob:link {color: #61d1c3; cursor: pointer;}
.infob:visited {color: #61d1c3; cursor: pointer;}
.infob:hover {color: #61d1c3; cursor: pointer;}

.squareplus:link {color: #3cbeb1; cursor: pointer;}
.squareplus:visited {color: #3cbeb1; cursor: pointer;}
.squareplus:hover {color: #000000; cursor: pointer;}

.tr_employe {background-color: #830a16; color: white; font-family: Arial; font-size: 14px; line-height: 16px; font-weight: 600;}

.tr_employe1 {background-color: #b11e3b; color: white; font-family: Arial; font-size: 14px; line-height: 16px; font-weight: 600;}
.tr_employe2 {background-color: #ac57a2; color: white; font-family: Arial; font-size: 14px; line-height: 16px; font-weight: 600;}
.tr_employe3 {background-color: #f36d29; color: white; font-family: Arial; font-size: 14px; line-height: 16px; font-weight: 600;}
.tr_employe4 {background-color: #ed1c24; color: white; font-family: Arial; font-size: 14px; line-height: 16px; font-weight: 600;}
.tr_employe5 {background-color: #39b54a; color: white; font-family: Arial; font-size: 14px; line-height: 16px; font-weight: 600;}

.tr_employe_elab {background-color: #3cbeb1; color: white; font-family: Arial; font-size: 14px; line-height: 16px; font-weight: 600;}

.tr_infos {background-color: #464646; color: white; font-family: Arial; font-size: 13px; line-height: 16px; font-weight: 400;}
.tr_data {background-color: white; font-family: Arial; font-size: 13px; line-height: 14px; font-weight: 400;}

.nom_padding {padding: 10px 0px 10px 8px;}
.tel_padding {padding: 8px 10px 10px 0px; font-weight: 400;}
.td_padding, .pd_data {padding: 5px 0px 5px 8px;}
.bordergrey {border-right: 1px solid #bababa;}
.borderblack {border-right: 1px solid black;}

.rouge {color: #830a16; font-weight: bold;} .jaune {color: #f9a81a; font-weight: bold;} .autre {color: #3cbeb1; font-weight: bold;}
.na {color: #a7a9ac;} .na_bold {color: #a7a9ac; font-weight: bold;}

.sq_plus {font-size: 24px; line-height: 24px;}

.header_equip1 {background-color: #b11e3b; color: white; font-family: Arial; font-size: 18px; line-height: 22px; font-weight: 600; padding: 12px 0px 12px 8px;}
.square1 {color: #b11e3b; padding-right: 5px;}
.card-link-1:link {color: #000000;}
.card-link-1:visited {color: #000000; text-decoration: none;}
.card-link-1:hover {color: #b11e3b; text-decoration: none;}

.card-link-1:active {color: #000000; text-decoration: none;}
.sq_plus1 {font-size: 24px; line-height: 24px;}
.sq_plus1:hover {color: #b11e3b; text-decoration: none;}
.sq_plus1:visited {color: #000000; text-decoration: none;}
.sq_plus1:active {color: #000000; text-decoration: none;}

.header_equip2 {background-color:  #ac57a2; color: white; font-family: Arial; font-size: 18px; line-height: 22px; font-weight: 600; padding: 12px 0px 12px 8px;}
.square2 {color: #ac57a2; padding-right: 5px;}
.card-link-2:link {color: #000000;}
.card-link-2:visited {color: #000000; text-decoration: none;}
.card-link-2:hover {color: #ac57a2; text-decoration: none;}

.sq_plus2 {font-size: 24px; line-height: 24px;}
.sq_plus2:hover {color: #ac57a2; text-decoration: none;}
.sq_plus2:visited {color: #000000; text-decoration: none;}

.header_equip3 {background-color: #f36d29; color: white; font-family: Arial; font-size: 18px; line-height: 22px; font-weight: 600; padding: 12px 0px 12px 8px;}
.square3 {color: #f36d29; padding-right: 5px;}
.card-link-3:link {color: #000000;}
.card-link-3:visited {color: #000000; text-decoration: none;}
.card-link-3:hover {color: #f36d29; text-decoration: none;}

.sq_plus3 {font-size: 24px; line-height: 24px;}
.sq_plus3:hover {color: #f36d29; text-decoration: none;}
.sq_plus3:visited {color: #000000; text-decoration: none;}

.header_equip4 {background-color:  #ed1c24; color: white; font-family: Arial; font-size: 18px; line-height: 22px; font-weight: 600; padding: 12px 0px 12px 8px;}
.square4 {color: #ed1c24; padding-right: 5px;}
.card-link-4:link {color: #000000;}
.card-link-4:visited {color: #000000; text-decoration: none;}
.card-link-4:hover {color: #ed1c24; text-decoration: none;}

.sq_plus4 {font-size: 24px; line-height: 24px;}
.sq_plus4:hover {color: #ed1c24; text-decoration: none;}
.sq_plus4:visited {color: #000000; text-decoration: none;}


.header_equip5 {background-color: #39b54a; color: white; font-family: Arial; font-size: 18px; line-height: 22px; font-weight: 600; padding: 12px 0px 12px 8px;}
.square5 {color: #39b54a; padding-right: 5px;}
.card-link-5:link {color: #000000;}
.card-link-5:visited {color: #000000; text-decoration: none;}
.card-link-5:hover {color: #39b54a; text-decoration: none;}

.sq_plus5 {font-size: 24px; line-height: 24px;}
.sq_plus5:hover {color: #39b54a; text-decoration: none;}
.sq_plus5:visited {color: #000000; text-decoration: none;}

.card-header {background-color: #d8d8d8; font-size: 18px; line-height: 22px;}
.card-symptomes {background-color: white; padding-top: 8px; padding-bottom: 8px; padding-left: 5px;}
.card-body {background-color: #bfbfbf; padding: 0px;}
.card-body-total {background-color: #bfbfbf; padding: 0px; border: 0px;}

.header_symptomes {background-color: #830a16; color: white; padding-top: 8px; padding-bottom: 8px; font-size: 16px; line-height: 20px;
	font-family: Arial; text-transform: uppercase; font-weight: 400;}
.minusquare1 {font-size: 20px; line-height: 20px; color: white; cursor: pointer; padding-right: 5px;}
.minusquare1:hover {color: #a32437;}

.header_cassansrep {background-color: #f9a81a; color: white; padding-top: 8px; padding-bottom: 8px; font-size: 16px; line-height: 20px;
	font-family: Arial; text-transform: uppercase; font-weight: 400;}
.minusquare2 {font-size: 20px; line-height: 20px; color: white; cursor: pointer; padding-right: 5px;}
.minusquare2:hover {color: #d38405;}

.header_reponse {background-color: #3cbeb1; color: white; padding-top: 8px; padding-bottom: 8px; font-size: 16px; line-height: 20px;
	font-family: Arial; text-transform: uppercase; font-weight: 400;}
.minusquare3 {font-size: 20px; line-height: 20px; color: white; cursor: pointer; padding-right: 5px;}
.minusquare3:hover {color: #61d1c3;}


.squareplusOui:link {color: #830a16; cursor: pointer;}
.squareplusOui:visited {color: #830a16; cursor: pointer;}
.squareplusOui:hover {color: #000000; cursor: pointer;}


.squareplusAucun:link {color: #f9a81a; cursor: pointer;}
.squareplusAucun:visited {color: #f9a81a; cursor: pointer;}
.squareplusAucun:hover {color: #000000; cursor: pointer;}
