
<div style="background:white;color:black;padding:15px;">
    <button class="btn btn-success" id="buttonAdd" data-toggle="modal" data-target="#eventModal">Ajouter un evenement</button>
    <button id="buttonSupp" class="btn btn-danger" data-toggle="modal" data-target="#eventModal">Supprimer un evenement</button>
    <button id="buttonEdit" class="btn btn-info" data-toggle="modal" data-target="#eventModal">Modifier evenement</button>

    <table class="table table-striped table-bordered table-hover" id="TableId" cellspacing="0" align="center" width="100%">
        <thead>
            <tr>
                <th>
                    Id Evenement
                </th>
                <th>
                    Date Debut
                </th>
                <th>
                    Date Fin
                </th>
                <th>
                    Total Evenements
                </th>
                <th>
                    Date Creation
                </th>
                <th>
                    Utilisateur
                </th>
                <th>
                    No Commerce
                </th>
                <th>
                    Appels Prevus DirEv
                </th>
                <th>
                    Appels  Prevus CASuly
                </th>
                <th>
                    Date  Modification
                </th>
                <th>
                    Utilisateur  Modification
                </th>
                <th>
                    Dates Confirmer
                </th>
                <th>
                    Actif
                </th>
            </tr>


        </thead>
       
    </table>





</div>